@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.header {
    overflow: hidden;
    background-color: #040d16;
    
  }
  
  .header p {
    float: left;
    color: #03a8db;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 15px;
    border-radius: 4px;
    font-family: "roboto";
    
  }
  
  .header p.logo {
    font-size: 32px;
    font-weight: bold;
    font-family: "Roboto";
    letter-spacing: 5px;
    color: #03a8db;
  }
  
  .header p:hover {

    color: #01deb4;
    cursor: pointer;
  }
  
  .header p.active {
    
    color: #01deb4;
  }
  
  .header-right {
    float: right;
  }
  
  @media screen and (max-width: 500px) {
    .header p {
      float: none;
      display: block;
      text-align: left;
    }
  
    .header-right {
      float: none;
    }
  }
  